:root {
  --container-background:  hsl(0, 0%, 100%);
  --page-background: hsl(212, 45%, 89%);
  --title-color: hsl(218, 44%, 22%);
  --text-color:  hsl(220, 15%, 55%);
  --link-color: hsl(228, 45%, 44%);

}